<section fxLayout="column" fxFlexAlign="stretch">
  <app-recipe-card [recipe]="recipe" *ngIf="recipe"></app-recipe-card>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Ingredienten">
      <div class="ingredients">
        <div fxLayout="row" fxFlexFill
             fxLayoutAlign="left center">
          <div style="width: 250px">
            Aantal personen:
          </div>
          <div style="width: 100px">
            {{ numberOfPeople }}
          </div>
          <div>
            <button mat-mini-fab color="primary" aria-label="Add One Person" (click)="addPerson()">
              <mat-icon>person_add</mat-icon>
            </button>
            &nbsp;
            <button mat-mini-fab color="primary" aria-label="Substract One Person" (click)="substractPerson()">
              <mat-icon>person_remove</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="ingredients" class="mat-elevation-z8" *ngIf="ingredients && ingredients.length">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Naam</th>
            <td mat-cell *matCellDef="let element" style="width: 500px"> {{element.ingredient.name}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Hoeveelheid</th>
            <td mat-cell *matCellDef="let element" style="width: 100px"> {{element.amount}} {{displayMeasurementType(element.ingredient)}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedIngredientColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedIngredientColumns;"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Stappen">
      <table mat-table [dataSource]="recipe.steps" class="mat-elevation-z8"
             *ngIf="recipe && recipe.steps && recipe.steps.length">
        <ng-container matColumnDef="step">
          <th mat-header-cell *matHeaderCellDef> Step</th>
          <td mat-cell *matCellDef="let element" style="width: 100px">
            {{element.stepCounter}}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Omschrijving</th>
          <td mat-cell *matCellDef="let element" style="width: 500px">
            {{element.description}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedStepsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedStepsColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</section>
