<section fxLayout="column" fxFlexAlign="stretch">
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="ingredient; else loading">
    <app-sub-header [subTitle]="ingredient.name"></app-sub-header>
    <button aria-label="edit ingredient" [routerLink]="'/ingredient/edit/' + ingredient.id"  *ngIf="!ingredient.inUse">
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <mat-card class="card-picture" *ngFor="let recipe of recipes">
      <mat-card-title>
        <span fxFlex="80%">{{recipe.name}}</span>
        <button aria-label="view details" [routerLink]="'/recipe/details/' + recipe.id">
          <mat-icon fxFlex="10%">food_bank</mat-icon>
        </button>
        <button aria-label="edit recipe" [routerLink]="'/recipe/edit/' + recipe.id">
          <mat-icon fxFlex="10%">mode_edit</mat-icon>
        </button>
        <!--        <mat-icon fxFlex="10%">delete</mat-icon>-->
      </mat-card-title>
      <mat-card-content fxLayout="row" fxLayout.xs="column">
        <div>
          <img mat-card-xl-image *ngIf="recipe.imageFileName" alt="{{recipe.name}}" mat-card-image
               class="recipe-image"
               [src]="this.getImageUrl(recipe)"/>
        </div>
        <div *ngIf="recipe.description" fxHide.lt-lg>
          {{recipe.description}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<ng-template #loading>
  <div fxFlexAlign="center" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
