<section fxLayout="column" fxFlexAlign="stretch">
  <form class="form" [formGroup]="searchForm">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-form-field class="search-form">
        <input matInput placeholder="Search Picture" formControlName="searchString" type="text">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="searchDisabled()" (click)="searchRecipes()">
        Search
      </button>
    </div>
  </form>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let recipe of recipes">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">{{recipe.name}}</span>
        <button aria-label="view details" [routerLink]="'/recipe/details/' + recipe.id"><mat-icon fxFlex="10%">food_bank</mat-icon></button>
        <button aria-label="edit recipe" [routerLink]="'/recipe/edit/' + recipe.id"><mat-icon fxFlex="10%">mode_edit</mat-icon></button>
        <!--        <mat-icon fxFlex="10%">delete</mat-icon>-->
      </mat-card-title>
      <img *ngIf="recipe.imageFileName" alt="{{recipe.name}}" mat-card-image [src]="this.getImageUrl(recipe)">
      <mat-card-content *ngIf="recipe.description">
        {{recipe.description}}
      </mat-card-content>
    </mat-card>
  </div>
</section>



