.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}
.recipe-image {
  margin: 0 15px 0 0;
  width: 164px;
  height: 100px;
}
.recipe-image:first-child {
  margin-top: 0;
}
.content > mat-card {
  width: 240px;
}
.content > mat-card > mat-card-title {
  height: 60px;
}


