<section fxLayout="column" fxFlexAlign="stretch">
  <form class="form" [formGroup]="searchForm">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-form-field class="search-form">
        <input matInput placeholder="Zoek recept" formControlName="searchString" type="text">
      </mat-form-field>
      <mat-form-field class="search-form">
        <mat-label>Selecteer een categorie</mat-label>
        <mat-select formControlName="searchCategory">
          <mat-option>Geen</mat-option>
          <mat-option value="BREAKFAST">Ontbijt</mat-option>
          <mat-option value="LUNCH">Lunch</mat-option>
          <mat-option value="DINNER">Diner</mat-option>
          <mat-option value="SNACK">Tussendoortje</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchRecipes()">
        Zoek
      </button>
    </div>
  </form>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="content">
    <app-recipe-card [recipe]="recipe" [routerLink]="'/recipe/details/' + recipe.id" *ngFor="let recipe of recipes"></app-recipe-card>
  </div>
</section>



