<section fxLayout="column" fxFlexAlign="stretch">
  <app-sub-header [subTitle]="subTitle"></app-sub-header>
  <!-- reciy meta data -->
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="recipeForm; else loading">
    <form class="form" [formGroup]="recipeForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name
          <mat-icon matSuffix>priority_high</mat-icon>
        </mat-label>
        <input matInput formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <div class="buttons">
        <button mat-stroked-button (click)="cancel()">
          <mat-icon aria-label="cancel">clear</mat-icon>
        </button>
        <button mat-stroked-button (click)="saveRecipe()" [disabled]="!recipeForm.valid">
          <mat-icon aria-label="save">check</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <!-- upload image -->
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="recipe && recipe.id">
    <img [alt]="recipe.imageFileName" src="{{this.getImageUrl(recipe)}}" *ngIf="recipe && recipe.imageFileName"/>
    <input type="file" class="file-input"
           (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
      <span *ngIf="recipe && !recipe.imageFileName">No file selected yet.</span>
      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
  <!-- add new ingredient -->
  <div fxLayout="row" fxFlexAlign="left" *ngIf="recipe && recipe.id">
    <form class="form" [formGroup]="ingredientForm">
      <mat-form-field appearance="fill">
        <mat-label>Add Ingredient</mat-label>
        <input type="text"
               matInput
               formControlName="ingredient"
               [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIngredient">
          <mat-option *ngFor="let option of filteredIngredients | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="mat-column-amount" appearance="fill" *ngIf="ingredientForm.value.ingredient">
        <input type="number" matInput formControlName="amount"/>
      </mat-form-field>
      <span class="mat-column-amount" *ngIf="ingredientForm.value.ingredient">
        {{ingredientForm.value.ingredient.measurementType}}
      </span>
      <div class="buttons">
        <button aria-label="add ingredient" (click)="addIngredient()" *ngIf="ingredientForm.value.ingredient">
          <mat-icon fxFlex="10%">add_circle_outline</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <!-- diplay current ingredients -->
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="recipe && recipe.id">
    <table mat-table [dataSource]="ingredients" class="mat-elevation-z8" *ngIf="ingredients && ingredients.length">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.ingredient.name}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} {{element.ingredient.amountType}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" fxLayout="row">
          <button aria-label="edit ingredient" (click)="editIngredient(element)">
            <mat-icon fxFlex="10%">mode_edit</mat-icon>
          </button>
          <button aria-label="remove ingredient" (click)="removeIngredient(element)">
            <mat-icon fxFlex="10%">delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedIngredientColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedIngredientColumns;"></tr>
    </table>
  </div>
  <!-- diplay current steps -->
  <div fxLayout="row" class="content" fxFlexAlign="left" *ngIf="recipe && recipe.id">
    <table mat-table [dataSource]="steps" class="mat-elevation-z8" *ngIf="steps && steps.length">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element" style="width: 500px">
          <div *ngIf="element.id && element.stepCounter !== stepToEdit.stepCounter">
            {{element.description}}
          </div>
          <div *ngIf="element.stepCounter === stepToEdit.stepCounter">
            <mat-form-field appearance="fill" class="recipeDescription">
              <mat-label>Description</mat-label>
              <textarea matInput [(ngModel)]="stepToEdit.description"></textarea>
            </mat-form-field>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" fxLayout="row" style="height: 100%">
          <button aria-label="edit step" (click)="editStep(element)"
                  *ngIf="element.id && element.stepCounter !== stepToEdit.stepCounter">
            <mat-icon fxFlex="10%">mode_edit</mat-icon>
          </button>
          <button aria-label="remove step" (click)="removeStep(element)"
                  *ngIf="element.id && element.stepCounter !== stepToEdit.stepCounter">
            <mat-icon fxFlex="10%">delete_outline</mat-icon>
          </button>
          <button aria-label="step down" (click)="stepDown(element)"
                  *ngIf="element.id && element.stepCounter !== stepToEdit.stepCounter && element.stepCounter < steps.length - 1">
            <mat-icon fxFlex="10%">keyboard_arrow_down</mat-icon>
          </button>
          <button aria-label="step up" (click)="stepUp(element)"
                  *ngIf="element.id && element.stepCounter !== stepToEdit.stepCounter && element.stepCounter > 1">
            <mat-icon fxFlex="10%">keyboard_arrow_up</mat-icon>
          </button>
          <button aria-label="add step" (click)="saveStep(stepToEdit)"
                  *ngIf="element.stepCounter === stepToEdit.stepCounter">
            <mat-icon aria-label="save">check</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedStepsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStepsColumns;"></tr>
    </table>
  </div>
</section>

<ng-template #loading>
  <div fxFlexAlign="center" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
