.loading-spinner {
  margin-top: 30px;
  padding: 15px;
}

.form {
  min-width: 150px;
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.full-width {
  width: 100%;
}

.mat-icon-button {
  width: auto;
  height: auto;
  line-height: 24px;
}

.file-input {
  display: none;
}

.mat-column-amount, .mat-column-actions {
  padding-left: 16px;
}

.content {
  margin-bottom: 25px;
}

.recipeDescription {
  height: 250px;
  width: 100%;
}

.recipeDescription textarea {
  height: 200px;
  width: 100%;
}

.recipe-image {
  margin: 0 15px 0 0;
  width: 240px;
  height: 240px;
}
